[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
Django = "*"
requests = "*"
Pillow = "*"
mysqlclient = "*"
gunicorn = "*"
djangorestframework-simplejwt = "*"
whitenoise = "*"
flake8 = "*"

[dev-packages]

[requires]
python_version = "3.8"

[packages.drf-yasg]
extras = [ "validation",]
version = "*"
